<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>MyLive Yoga</title>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>-->    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/slick-1.4.1/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="../public/slick-1.4.1/slick/slick-theme.css"/>
		<script src="http://use.edgefonts.net/poiret-one;muli:n3,i3,n4,i4;source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9.js"></script>

</head>
<body>
  <nav class='navbar navbar-default navbar-static-top'>
    <div class='container'>
    	<div class='navbar-header'>
	      <a href='index.html'><div class='logo img-circle navbar-brand'>
	      	<span class='sr-only'>My Live Yoga</span>
	      </div></a>
	      <a href='index.html' class='navbar-brand'>MyLive Yoga</a>
	    </div>
	    <div class="navlinks">
	      <ul class='nav navbar-nav navbar-right'>
	        <li class="">
	        	<a href='login.html'>Login</a></li>
	        <li class="">
	        	<a data-toggle="dropdown" href='about.html' data-target="#">About <span class="caret"></span></a>
	        	<ul class="dropdown-menu">
	        		<li><a href="story.html">Our Story</a></li>
	        		<li><a href="contact.html">Contact Us</a></li>
	        		<li class="divider"></li>
	        		<li><a href="http://facebook.com/">Facebook</a></li>
	        		<li><a href="http://twitter.com/">Twitter</a></li>
	        	</ul>
	        </li>
	      </ul>
	    </div>
    </div>
  </nav>
  <div class="feature-element visible-md visible-lg">
		<div class='feature-imgs'>
			<div>
				<div class="fadeImg1"><img src="../public/img/yoga-woman.jpg"></div>
			</div>
			<div class='fadeImg2'>
				<img src='../public/img/yoga-man.jpg'>
			</div>
		</div>
		<div class="feature-center">
			<a href="#" id="feature-button" class="scroll">
			<span class="fa-stack fa-lg">
				<i class="fa fa-angle-down fa-5x top-angle"></i></a>
			</span>
		</div>
	</div>
  <div class='container-fluid'>
  	<div id="copy" class='row jumbotron'>
      <div class='col-md-8 col-md-offset-1'>
        <h2>Who we are</h2>
        <p class='lead'>Improve your body and mind in the comfort of your own home. Live one-on-one yoga is only a few clicks away.</p>
        <a href="#teachers"><button type='button' class='btn btn-lg btn-default'>Meet Our Gurus</button></a>
        <a href="ondemand.html"><button type='button' class='btn btn-lg btn-primary'>On Demand Now!</button></a>
      </div>
      <div class='col-md-3 visible-md visible-lg'>
        <img src='../public/img/beach-yoga.jpg' class="feature" height="100%" width="100%" alt='With my live yoga' />
      </div>
    </div>
  </div>
  <div class="container">
		<div class='row media'>
			<div class="media-left img-quote">
		    <a href="#">
		      <img class="media-object" src="../public/img/snipes.jpg" alt="wesley snipes quote">
		    </a>
		  </div>
		  <div class="media-body">
		    <blockquote>
		      <p>I am a god among humans and animals alike. Also, MyLive Yoga helps me stay in shape no matter where I'm at.</p>
		      <footer>Wesley Snipes - <cite title="Source">Film actor, producer, and martial artist</cite></footer>
		    </blockquote>
		  </div>
	  </div>
    <div class='row'>
      <div class='col-md-10 col-md-offset-2'>
        <h2>Our Gurus Are Waiting</h2>
        <p class="lead">Learn more about our yoga instructors so you can find the one for you.</p>
      </div>
    </div>
  </div>
  <div class="container"></div>
    <div id="teachers" class="row well well-lg teachers">
    		<div class="visible-md col-md-1"></div>
			  <div class="col-xs-6 col-sm-3 col-md-2 col-lg-offset-1">
			    <div class="thumbnail text-center">
			    	<div class="online-status img-circe"></div>
			      <img class="img-circle" src="../bootbundle_f/assets/photos/randomuser.me/men2.jpg" alt="yoga instructor">
			      <div class="caption">
			        <h4>Joe Shmoe</h4>
			        <p>I'm a chiropractor turned yoga nut! My favorite styles... </p>
			        <p><a href="#" class="btn btn-info btn-profile" role="button"><i class="fa fa-user"></i> Profile</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="col-xs-6 col-sm-3 col-md-2">
			    <div class="thumbnail text-center">
			      <img class="img-circle" src="../bootbundle_f/assets/photos/randomuser.me/women11.jpg" alt="yoga instructor">
			      <div class="caption">
			        <h4>Lisa Shmoe</h4>
			        <p>Yoga is love, yoga is life. As a yoga / kung fu master...</p>
			        <p><a href="#" class="btn btn-info btn-profile" role="button"><i class="fa fa-user"></i> Profile</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="clearfix visible-xs"></div>
			  <div class="col-xs-6 col-sm-3 col-md-2">
			    <div class="thumbnail text-center">
			      <img class="img-circle" src="../bootbundle_f/assets/photos/randomuser.me/women12.jpg" alt="yoga instructor">
			      <div class="caption">
			        <h4>Sally Shmoe</h4>
			        <p>I'm a cerified yogi and I love to teach. In my classes I...</p>
			        <p><a href="#" class="btn btn-info btn-profile" role="button"><i class="fa fa-user"></i> Profile</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="col-xs-6 col-sm-3 col-md-2">
			    <div class="thumbnail text-center">
			      <img class="img-circle" src="../bootbundle_f/assets/photos/randomuser.me/men18.jpg" alt="yoga instructor">
			      <div class="caption">
			        <h4>Steve Shmoe</h4>
			        <p>I'm a chiropractor turned yoga nut! My favorite styles...</p>
			        <p><a href="#" class="btn btn-info btn-profile" role="button"><i class="fa fa-user"></i> Profile</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="hidden-sm hidden-xs col-md-2 ">
			    <div class="thumbnail text-center">
			      <img class="img-circle" src="../bootbundle_f/assets/photos/randomuser.me/women8.jpg" alt="yoga instructor">
			      <div class="caption">
			        <h4>Mary Shmoe</h4>
			        <p>I'm a chiropractor turned yoga nut! My favorite styles...</p>
			        <p><a href="#" class="btn btn-info btn-profile" role="button"><i class="fa fa-user"></i> Profile</a></p>
			      </div>
			    </div>
			  </div>
    </div>
  <div class='container'>
    <div class='row'>
    </div>
  </div>
  <div class='footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3 col-sm-4 col-xs-6'>
          <h4>Who We Are</h4>
          <p><i>MyLive Yoga</i> is the best way to sound body and mind. <a href='onDemand.html'>Meet with an instructor today</a>!</p>
          <p><a href='about.html'>More About Us <i class='glyphicon glyphicon-arrow-right'></i></a></p>
        </div>

        <div class='col-md-offset-1 col-sm-2 col-xs-6'>
          <h4>Links</h4>
          <ul class='list-unstyled'>
            <li><a href='index.html'>Home</a></li>
            <li><a href='testamonials.html'>Testamonials</a></li>
            <li><a href='media.html'>The Buzz</a></li>
          </ul>
        </div>

        <div class='clearfix visible-xs'></div>

        <div class='col-sm-2 col-xs-6'>
          <h4>Stay in Touch</h4>
          <ul class='list-unstyled'>
            <li><a href='about.html'>About</a></li>
            <li><a href='contact.html'>Contact Us</a></li>
            <li><a href='http://twitter.com/'>Twitter</a></li>
            <li><a href='http://facebook.com/'>Facebook</a></li>
          </ul>
        </div>

        <div class='col-md-3 col-md-offset-1 col-sm-4 col-xs-6'>
          <h4>Contact Us</h4>
          <ul class='list-unstyled'>
          	<li><a href="mailto:admin@myliveyoga.com">admin@myliveyoga.com</a></li>
          </ul>
          <p>All rights reserved &copy;2015.</p>
        </div>
      </div>
    </div>
  </div>
</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
 	<script type="text/javascript" src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
	<script type="text/javascript" src="../public/slick-1.4.1/slick/slick.min.js"></script>
  <script>
    $(document).ready(function(){
		  $('.feature-imgs').slick({
			  infinite: true,
			  speed: 1300,
			  fade: true,
			  cssEase: 'linear',
			  autoplay: true,
  			autoplaySpeed: 4000,
  			pauseOnHover: false
		  });
      $("#feature-button").click(function() {
		    $('html, body').animate({
	        scrollTop: $("#copy").offset().top
		    }, 1500);
			});
    });
  </script>

</body>
</html>