<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MyLive Yoga</title>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="../public/css/bootswatch_yeti.min.css"/>
  <link rel="stylesheet" type="text/css" href="../public/css/profile.css"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
  <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../public/slick-1.4.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../public/slick-1.4.1/slick/slick-theme.css"/>
	<script src="http://use.edgefonts.net/poiret-one;muli:n3,i3,n4,i4;neuton:n2,n3,n4,i4.js"></script>

</head>
<body>
  <nav class='navbar navbar-default navbar-static-top'>
    <div class='container'>
    	<div class='navbar-header'>
	      <a href='index.html'><div class='logo img-circle navbar-brand'>
	      	<span class='sr-only'>My Live Yoga</span>
	      </div></a>
	      <a href='index.html' class='navbar-brand'>MyLive Yoga</a>
	    </div>
	    <div class="navlinks">
	      <ul class='nav navbar-nav navbar-right'>
	        <li class="">
	        	<a data-toggle="modal" href="#loginModal">Login</a>
	        	<div class="modal" id="loginModal">
							<div class="modal-dialog">
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					          <h4 class="modal-title text-center">Login</h4>
					        </div><div class="container"></div>
					        <div class="modal-body">
					        	<form class="form-horizontal" method="post" action="/asfd">
										  <fieldset>
										    <legend>Login</legend>
										    <div class="form-group">
										      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
										      <div class="col-lg-10">
										        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
										      </div>
										    </div>
										    <div class="form-group">
										      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
										      <div class="col-lg-10">
										        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
										      </div>
										    </div>
										    <legend></legend>
										 		<legend>Register</legend>
										 		<div class="form-group">
										      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
										      <div class="col-lg-10">
										        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
										      </div>
										    </div>
										    <div class="form-group">
										      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
										      <div class="col-lg-10">
										        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
										      </div>
										    </div>
										    <div class="form-group">
										      <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
										      <div class="col-lg-10">
										        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
										      </div>
										    </div>
										    <div class="form-group">
										      <label class="col-lg-2 control-label">Account Type</label>
										      <div class="col-lg-10">
										        <div class="radio">
										          <label>
										            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
										            Student
										          </label>
										        </div>
										        <div class="radio">
										          <label>
										            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
										            Instructor
										          </label>
										        </div>
										      </div>
										    </div>
										    <div class="modal-footer">
								          <a href="#" data-dismiss="modal" class="btn">Close</a>
								          <a href="#" type="submit" class="btn btn-primary">Login</a>
								        </div>
										  </fieldset>
										</form>
					        </div>
					      </div>
					    </div>
						</div>

						<!-- <div class="modal" id="registerModal">
							<div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						          <h4 class="modal-title">Modal 2</h4>
						        </div><div class="container"></div>
						        <div class="modal-body">
						         
						        </div>
						        <div class="modal-footer">
						          <a href="#" data-dismiss="modal" class="btn">Close</a>
						          <a href="#" class="btn btn-primary">Save changes</a>
						        </div>
						      </div>
						    </div>
						</div> -->


	        </li>
	        <li class="">
	        	<a data-toggle="dropdown" href='about.html' data-target="#">About <span class="fa fa-caret-down"></span></a>
	        	<ul class="dropdown-menu">
	        		<li><a href="story.html">Our Story</a></li>
	        		<li><a href="contact.html">Contact Us</a></li>
	        		<li class="divider"></li>
	        		<li><a href="http://facebook.com/">Facebook</a></li>
	        		<li><a href="http://twitter.com/">Twitter</a></li>
	        	</ul>
	        </li>
	      </ul>
	    </div>
    </div>
  </nav>
  <div class="body container">
  	<div class="row">
  		
  	</div>
  	<div class="sidebar col-sm-3">
  		<div class="profilepic">
  			<div class="img-circle profile-img">
  				<img class="img-responsive" height="180px" width="180px" src="../bootbundle_f/assets/photos/randomuser.me/women11.jpg" alt="yoga instructor">
  			</div>
  		</div>
  		<div class="profile-info text-center">
  			<h2>Lisa H.</h2>
  			<h4>Seattle, WA</h4>
  		</div>
  		<div class="profile-content">
  			<p class="plaintext">I'm definitely your go-to yoga guru! Join me any weekday for one on one instruction. I can teach you anything from spins to standing styles. My love for yoga was born after a chance encounter with this guy on a beach in Cancun. Tate velit esse
  			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  			<p>Styles: </p>
  			<p>Experience: </p>
  			<p class="text-center"><a href="#" class="btn btn-info" role="button"><i class="fa fa-envelope"></i> Message</a></p>
  		</div>
  	</div>
  	<div class="content col-sm-9">
  		<div class="whitespace">
  			
  		</div>
  		<div class="schedule">
  			<ul class="nav nav-pills" role="tablist" id="myTab">
				  <li role="presentation" class="active"><a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">Schedule</a></li>
				  <li role="presentation"><a href="#badges" aria-controls="badges" role="tab" data-toggle="tab">Badges</a></li>
				  <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Stats</a></li>
				</ul>

				<div class="tab-content">
				  <div role="tabpanel" class="tab-pane active fade in" id="schedule">
				  	<div class="schedule-refine">
				  		<p class="refine-text text-center">Choose from this week's dates <bold>OR</bold> Choose a date: <a href="#"><i class="fa fa-calendar"></i></a></p>
				  	</div>
				  	<div class="schedule-content">
				  		<div class="schedule-slot col-sm-9">
				  			<img class="slot-img img-circle" src="../public/img/logo.png" width="88px" height="88px">
				  			<div class="slot-descrip">
				  				<div class="slot-title">Spin Class - </div>
				  					<div class="slot-date"> Monday, March 16, 2015 </div><div class="slot-time"><i class="fa fa-clock-o"></i> 6:00 - 7:00 PST</div>

				  				<p class="plaintext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  				quis nostrud exercitation ullamco laboris nisi... <a href="#">See More</a></p>
				  			</div>
				  			<div class="slot-btn"><a href="#" class="btn btn-warning" role="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Book</span></a></div>
				  		</div>
				  		<div class="schedule-slot col-sm-9">
				  			<img class="slot-img img-circle" src="../public/img/logo.png" width="88px" height="88px">
				  			<div class="slot-descrip">
				  				<div class="slot-title">Spin Class - </div><div class="slot-date"> Tuesday, March 17, 2015 </div><div class="slot-time"><i class="fa fa-clock-o"></i> 6:00 - 7:00 PST</div>
				  				<p class="plaintext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  				quis nostrud exercitation ullamco laboris nisi... <a href="#">See More</a></p>
				  			</div>
				  			<div class="slot-btn"><a href="#" class="btn btn-warning" role="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Book</span></a></div>
				  		</div>
				  		<div class="schedule-slot col-sm-9">
				  			<img class="slot-img img-circle" src="../public/img/logo.png" width="88px" height="88px">
				  			<div class="slot-descrip">
				  				<div class="slot-title">Spin Class - </div><div class="slot-date"> Wednesday, March 18, 2015 </div><div class="slot-time"><i class="fa fa-clock-o"></i> 6:00 - 7:00 PST</div>
				  				<p class="plaintext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  				quis nostrud exercitation ullamco laboris nisi... <a href="#">See More</a></p>
				  			</div>
				  			<div class="slot-btn"><a href="#" class="btn btn-warning" role="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Book</span></a></div>
				  		</div>
				  		<div class="schedule-slot col-sm-9">
				  			<img class="slot-img img-circle" src="../public/img/logo.png" width="88px" height="88px">
				  			<div class="slot-descrip">
				  				<div class="slot-title">Spin Class - </div><div class="slot-date"> Thursday, March 19, 2015 </div><div class="slot-time"><i class="fa fa-clock-o"></i> 6:00 - 7:00 PST</div>
				  				<p class="plaintext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  				quis nostrud exercitation ullamco laboris nisi... <a href="#">See More</a></p>
				  			</div>
				  			<div class="slot-btn"><a href="#" class="btn btn-warning" role="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Book</span></a></div>
				  		</div>
				  		<div class="schedule-slot col-sm-9">
				  			<img class="slot-img img-circle" src="../public/img/logo.png" width="88px" height="88px">
				  			<div class="slot-descrip">
				  				<div class="slot-title">Spin Class - </div><div class="slot-date"> Friday, March 20, 2015 </div><div class="slot-time"><i class="fa fa-clock-o"></i> 6:00 - 7:00 PST</div>
				  				<p class="plaintext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  				quis nostrud exercitation ullamco laboris nisi... <a href="#">See More</a></p>
				  			</div>
				  			<div class="slot-btn"><a href="#" class="btn btn-warning" role="button"><i class="fa fa-plus"></i> <span class="hidden-sm">Book</span></a></div>
				  		</div> 				  	
				  	</div>
				  </div>
				  <div role="tabpanel" class="tab-pane fade" id="badges">
				  	
				  </div>
				  <div role="tabpanel" class="tab-pane fade" id="stats">
				  	
				  </div>
				</div>

  		</div>
  		
  	</div>
  </div>
  <div class='footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3 col-sm-4 col-xs-6'>
          <h4>Who We Are</h4>
          <p><i>MyLive Yoga</i> is the best way to sound body and mind. <a href='onDemand.html'>Meet with an instructor today</a>!</p>
          <p><a href='about.html'>More About Us <i class='fa fa-arrow-right'></i></a></p>
        </div>

        <div class='col-md-offset-1 col-sm-2 col-xs-6'>
          <h4>Links</h4>
          <ul class='list-unstyled'>
            <li><a href='index.html'>Home</a></li>
            <li><a href='testamonials.html'>Testimonials</a></li>
            <li><a href='media.html'>The Buzz</a></li>
          </ul>
        </div>

        <div class='clearfix visible-xs'></div>

        <div class='col-sm-2 col-xs-6'>
          <h4>Stay in Touch</h4>
          <ul class='list-unstyled'>
            <li><a href='about.html'>About</a></li>
            <li><a href='contact.html'>Contact Us</a></li>
            <li><a href='http://twitter.com/'>Twitter</a></li>
            <li><a href='http://facebook.com/'>Facebook</a></li>
          </ul>
        </div>

        <div class='col-md-3 col-md-offset-1 col-sm-4 col-xs-6'>
          <h4>Contact Us</h4>
          <ul class='list-unstyled'>
          	<li><a href="mailto:admin@myliveyoga.com">admin@myliveyoga.com</a></li>
          </ul>
          <p>All rights reserved &copy;2015.</p>
        </div>
      </div>
    </div>
  </div>
</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
 	<script type="text/javascript" src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
	<script type="text/javascript" src="../public/slick-1.4.1/slick/slick.min.js"></script>
  <script>
    $(document).ready(function(){
		  $('.feature-imgs').slick({
			  infinite: true,
			  speed: 1300,
			  fade: true,
			  cssEase: 'linear',
			  autoplay: true,
  			autoplaySpeed: 4000,
  			pauseOnHover: false
		  });
      $(function () {
		    $('#myTab a:first').tab('show');
		  });

			$('#loginbtn').click(function(){
				$('#loginModal').modal({show:true});
			});

			$('.modal').on('hidden.bs.modal', function( event ) {
        $(this).removeClass( 'fv-modal-stack' );
        $('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) - 1 );
      });


			$( '.modal' ).on( 'shown.bs.modal', function ( event ) {
                   
                   // keep track of the number of open modals
                   
                   if ( typeof( $('body').data( 'fv_open_modals' ) ) == 'undefined' )
                   {
                     $('body').data( 'fv_open_modals', 0 );
                   }
                   
                     
                   // if the z-index of this modal has been set, ignore.
                        
                if ( $(this).hasClass( 'fv-modal-stack' ) )
                        {
                        return;
                        }
                   
                $(this).addClass( 'fv-modal-stack' );

                $('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) + 1 );

                $(this).css('z-index', 1040 + (10 * $('body').data( 'fv_open_modals' )));

                $( '.modal-backdrop' ).not( '.fv-modal-stack' )
                        .css( 'z-index', 1039 + (10 * $('body').data( 'fv_open_modals' )));


                $( '.modal-backdrop' ).not( 'fv-modal-stack' )
                        .addClass( 'fv-modal-stack' ); 

                 });

    });
  </script>

</body>
</html>